<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}


<form action="/login" method="post">
    <h2>this is login page</h2>
    <input type="text" style="display: none;" name="name">
 <input type="text" name="email" class="inputType" placeholder="Enter your Registered Email Here">
 <div>
     <input type="password" name="password" class="inputType" placeholder="Enter Your Passwrd Here">
 </div>
  <input type="submit" value="submit">
 
</form>


</body>
</html>